*{
  padding: 0%;
}
body{
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  justify-content: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.counter-container p{
  width: 70px;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
}
.counter-container button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: aliceblue;
  background-color: #9201F3;
  border: none;
  padding: 0px 10px;
}